<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">On-line test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if current_user.is_admin %}
            <li class="nav-item active">
                <a class="nav-link hlink" href="{{ url_for('admin.admin_index') }}">Админка <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hlink" href="{{ url_for('admin.register') }}">Добавить пользователя </a>
            </li>
            <li class="nav-item">
              <a class="nav-link hlink" href="{{ url_for('admin.register') }}">Добавить направление</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hlink" href="{{ url_for('admin.register') }}">Добавить профиль</a>
        </li>
            {% endif %}
            {% if current_user.is_department %}
            <li class="nav-item active">
                <a class="nav-link hlink" href="{{ url_for('test.test_index', depart_id=depart_id) }}">Ваши тесты <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hlink" href="{{ url_for('test.input', depart_id=depart_id) }}">Внести новый тест</a>
            </li>
            <li class="nav-item">
             <!--   <a class="nav-link hlink" href="{{ url_for('test.view_res') }}">Просмотр результатов</a> -->
          </li>
            {% endif %}
            {% if current_user.is_student %}
            <li class="nav-item">
                <a class="nav-link hlink" href="{{ url_for('test.test_student', user_id=current_user.id) }}">Выбор теста <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item">
             <a class="nav-link hlink" href="{{ url_for('test.view_res') }}">Просмотр результатов</a>   
            </li>
            {% endif %}
          </ul> 
    <!--      <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
          </form> -->
        <ul class="navbar-nav">
           {% if current_user.is_authenticated %}
            <li class="nav-item">   
                {% if current_user.is_department %}
                <span class="nav-link">Здравствуйте, кафедра {{ current_user.full_name }}</span>
                {% else %}
                <span class="nav-link">Здравствуйте, {{ current_user.full_name }}</span>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link hlink" href="{{ url_for('user.logout') }}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link hlink" href="{{ url_for('user.login') }}">Войти</a>
            </li>
            {% endif %}
        </ul>
        </div>
      </nav>