{% extends "base.html" %}

{% block content %} 
    <div class="row">
      <div class="col-8">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }} <br>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
   <!--  </div> <div class="col-6"> -->
    <h2>Ваши тесты</h2> 
      <table class="tableMy"> 
        <tr><th> Дисциплина </th><th> Порог прохождения, %</th><th> Просмотр результатов</th></tr>
        {% for tests in test_depart %} 
          <tr><td><a class="nav-link hlink" href="{{ url_for('test.test_view', kurs_id= tests.id) }}">
                  {{ tests.kurs_name}}</a></td>
              <td>{{ tests.percent_result }}</td>
              <td><a class="nav-link hlink" href="{{ url_for('test.view_reskurs', kurs_id= tests.id) }}">
                Просмотр результатов</a></td>
          </tr>
        {% endfor%}
      </table>
  </div>
  </div>
{% endblock %}