{% extends "base.html" %}

{% block content %} 
  <div class="row">
    <div class="col-6">
      <h2>Дисциплина "{{ kurs_name }}"</h2>
      <h4>Выберите правильный вариант ответа</h4>
      <br>
      <form action="{{ url_for('test.result_test') }}" method="POST"> <!-- в   -->
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username() }}
      </div>
        {% for tests in test_p %} 
        <p><b>Вопрос {{ loop.index }} </b></p>
        <p>{{ tests.q_text}}</p>
          {% if tests.img_name != '' %}
            <img src="/static/upload/{{tests.img_name}}"><br>
          {% endif %}
          <br>
        <div class="form-group form-check">
          <p class="input-group-addon"><input type="radio" id="answ{{loop.index}}" name="answ{{loop.index}}" value="1"> {{tests.answ1}}</p>
          <p class="input-group-addon"><input type="radio" id="answ{{loop.index}}" name="answ{{loop.index}}" value="2"> {{tests.answ2}}</p>
          <p class="input-group-addon"><input type="radio" id="answ{{loop.index}}" name="answ{{loop.index}}" value="3"> {{tests.answ3}}</p>
          <br>
        </div>
        {% endfor%}
        <input type="hidden" id="kurs_id" name="kurs_id" value="{{kurs_id}}">
        {{ form.submit() }}
        <br><br>
      </div>
  </div>
    {% endblock %}